TOGETHER_API_KEY=your-key-here
OPENROUTER_API_KEY=your-key-here
OPENAI_API_KEY=your-key-here
HUGGINGFACE_TOKEN=your-key-here

# Optional:
# WANDB_API_KEY=your-key-here
# WANDB_ENTITY=your-entity-name
# WANDB_PROJECT=your-project-name
# WANDB_NAME=your-run-name
# WANDB_TAGS=tag1,tag2,tag3
# WANDB_NOTES=your-notes
# WANDB_GROUP=your-group-name